@define-color bg0     #2e2e2e;
#workspaces button:hover {
  background-color: @bg2;
  color: @fg1;
}

#window {
  color: @fg2;
  font-weight: bold;
}

#clock {
  color: @accent;
  font-weight: bold;
}

#pulseaudio {
  color: @fg1;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @amber;
}

#battery.critical:not(.charging) {
  color: @red;
  animation: blink 2s steps(1) infinite;
}

#tray {
  padding: 0 8px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @red;
}

#custom-power {
  color: @red;
  padding: 0 10px;
}

#custom-power:hover {
  background-color: @bg2;
}

#pulseaudio:hover,
#battery:hover,
#clock:hover {
  background-color: @bg2;
  color: @fg1;
}

#custom-kb {
  color: @fg1;
}

#custom-kb:hover {
  background-color: @bg2;
  color: @fg1;
}

@keyframes blink {
  to {
    background-color: @red;
    color: @bg0;
  }
}
